<!DOCTYPE html >
<!--[if IE 8]> <html lang="en" class="ie8 no-js " > <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js " > <![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js ">
<!--<![endif]-->
<!-- BEGIN HEAD -->

<head>
    <meta charset="utf-8" />
    <title> Online PDF tools</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta http-equiv="content-language" content="en_EN" />
    <link href="/css/love13.css" rel="stylesheet" type="text/css" />
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/angular.min.js"></script>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->

<body class="page-header-fixed page-full-width page-footer-fixed LGen index cactionindex brwFirefox ver54 mob systemWindows app" id="body">

    <!-- BEGIN HEADER -->
    <div class="header navbar navbar-fixed-top" id="header">
        <!-- BEGIN TOP NAVIGATION BAR -->
        <div class="header-inner">

            <a class="navbar-brand" href="/" title="Back to homepage">
                <img src="/images/ilovepdf.svg" width="147" class="img-responsive">
            </a>


        </div>
        <div class="navbar navbar-default" id="navigation">

            <div class="navbar-header">
                <button type="button" data-target="#navigation-inner" data-toggle="collapse" class="navbar-toggle">
                    <span class="sr-only">Menu</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navigation-inner" class="collapse navbar-collapse">
                <ul class="nav nav-justified">
                    <li>
                        <a href="/merge_pdf">Merge PDF</a>
                    </li>
                    <li>
                        <a href="/split_pdf">Split PDF</a>
                    </li>

                    <li>
                        <a href="/compress_pdf">Compress PDF</a>
                    </li>
                    <li class="dropdown ">
                        <a data-toggle="dropdown" data-hover="dropdown">
                        Convert PDF <i class="fa fa-angle-down"></i>
                    </a>
                        <ul class="dropdown-menu mega">

                            <div class="row">
                                <div class="col-md-6">
                                    <li><a href="/jpg_to_pdf">JPG to PDF</a></li>
                                    <hr/>
                                    <li><a href="/word_to_pdf">WORD to PDF</a></li>
                                    <li><a href="/powerpoint_to_pdf">POWERPOINT to PDF</a></li>
                                    <li><a href="/excel_to_pdf">EXCEL to PDF</a></li>


                                </div>

                                <div class="col-md-6 col2drop">
                                    <li><a href="/pdf_to_jpg">PDF to JPG</a></li>

                                    <hr/>
                                    <li><a href="/pdf_to_word">PDF to WORD</a></li>
                                    <li><a href="/pdf_to_powerpoint">PDF to POWERPOINT</a></li>
                                    <li><a href="/pdf_to_excel">PDF to EXCEL</a></li>



                                </div>
                            </div>
                        </ul>
                    </li>
                    <li class="dropdown  ">
                        <a data-toggle="dropdown" data-hover="dropdown">
                        More PDF tools <i class="fa fa-angle-down"></i>
                    </a>
                        <ul class="dropdown-menu">
                            <li><a href="/add_pdf_page_number">Add page numbers</a></li>
                            <li><a href="/pdf_add_watermark">Add watermark</a></li>
                            <li><a href="/rotate_pdf">Rotate PDF</a></li>
                            <li><a href="/unlock_pdf">Unlock PDF</a></li>

                        </ul>
                    </li>


                </ul>
            </div>
        </div>
    </div>


    <!-- END HEADER -->
    <div class="clearfix"></div>
    <!-- BEGIN CONTAINER -->

    <div class="page-content-wrapper">

        <!-- BEGIN PAGE -->
        <div class="page-content homepage">
            <div class="blacktitle">
                <h1>Every tool you need to work with PDFs in one place</h1>

                <span>Every tool you need to use PDFs, at your fingertips. All are 100% FREE and easy to use! <br/>Merge, split, compress, convert, rotate, unlock and watermark PDFs with just a few clicks.</span>
            </div>
            <div class="container">
                <div class="row">
                    <div class="clear"></div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12  apphome merge" onclick="window.location='/merge_pdf';">
                        <a class="icons col-md-3 "></a>
                        <div class="col-md-9">
                            <h3>Merge PDF</h3>
                            <p>Combine PDFs in the order you want with the easiest PDF merger available.</p>
                        </div>

                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 apphome second split" onclick="window.location='/split_pdf';">
                        <a class="icons col-md-3"></a>
                        <div class="col-md-9">
                            <h3>Split PDF</h3>
                            <p>Separate one page or a whole set for easy conversion into independent PDF files.</p>
                        </div>

                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 apphome lasttablet compress" onclick="window.location='/compress_pdf';">
                        <a class="icons col-md-3"></a>
                        <div class="col-md-9">
                            <h3>Compress PDF</h3>
                            <p>Reduce file size while optimizing for maximal PDF quality.</p>
                        </div>

                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 apphome second last pdfword" onclick="window.location='/pdf_to_word';">
                        <a class="icons col-md-3"></a>
                        <div class="col-md-9">
                            <h3>PDF to WORD</h3>
                            <p>Easily convert your PDF files into easy to edit DOC and DOCX documents. The converted WORD document is almost 100% accurate.</p>
                        </div>

                    </div>

                    <div class="col-lg-3  col-md-4 col-sm-6 apphome pdfpowerpoint" onclick="window.location='/pdf_to_powerpoint';">
                        <a class="icons col-md-3"></a>
                        <div class="col-md-9">
                            <h3>PDF to POWERPOINT</h3>
                            <p> Turn your PDF files into easy to edit PPT and PPTX slideshows.</p>
                        </div>

                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6 apphome second lasttablet pdfexcel" onclick="window.location='/pdf_to_excel';">
                        <a class="icons col-md-3"></a>
                        <div class="col-md-9">
                            <h3>PDF to EXCEL</h3>
                            <p>Pull data straight from PDFs into EXCEL spreadsheets in a few short seconds.</p>
                        </div>

                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 apphome second wordpdf" onclick="window.location='/word_to_pdf';">
                        <a class="icons col-md-3"></a>
                        <div class="col-md-9">
                            <h3>WORD to PDF</h3>
                            <p>Make DOC and DOCX files easy to read by converting them to PDF.</p>
                        </div>

                    </div>

                    <div class="col-lg-3  col-md-4 col-sm-6 apphome powerpointpdf last" onclick="window.location='/powerpoint_to_pdf';">
                        <a class="icons col-md-3"></a>
                        <div class="col-md-9">
                            <h3>POWERPOINT to PDF</h3>
                            <p> Make PPT and PPTX slideshows easy to view by converting them to PDF.</p>
                        </div>

                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6 apphome second lasttablet excelpdf" onclick="window.location='/excel_to_pdf';">
                        <a class="icons col-md-3"></a>
                        <div class="col-md-9">
                            <h3>EXCEL to PDF</h3>
                            <p>Make EXCEL spreadsheets easy to read by converting them to PDF.</p>
                        </div>

                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 apphome  pdfjpg" onclick="window.location='/pdf_to_jpg';">
                        <a class="icons col-md-3"></a>
                        <div class="col-md-9">
                            <h3>PDF to JPG</h3>
                            <p>Convert each PDF page into a JPG or extract all images contained in a PDF.</p>
                        </div>

                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6  apphome second  jpgpdf" onclick="window.location='/jpg_to_pdf';">
                        <a class="icons col-md-3"></a>
                        <div class="col-md-9">
                            <h3>JPG to PDF</h3>
                            <p>Convert JPG images to PDF in seconds. Easily adjust orientation and margins.</p>
                        </div>

                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6 apphome lasttablet pagenumber last" onclick="window.location='/add_pdf_page_number';">
                        <a class="icons col-md-3"></a>
                        <div class="col-md-9">
                            <h3>Page numbers</h3>
                            <p>Add page numbers into PDFs with ease. Choose your positions, dimensions, typography.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 apphome second watermark" onclick="window.location='/pdf_add_watermark';">
                        <a class="icons col-md-3"></a>
                        <div class="col-md-9">
                            <h3>Watermark</h3>
                            <p>Stamp an image or text over your PDF in seconds. Choose the typography, transparency and position.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-sx-12 apphome  unlock" onclick="window.location='/unlock_pdf';">
                        <a class="icons col-md-3"></a>
                        <div class="col-md-9">
                            <h3>Unlock PDF</h3>
                            <p>Remove PDF password security, giving you the freedom to use your PDFs as you want.</p>
                        </div>

                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6  apphome second  lasttablet  rotate" onclick="window.location='/rotate_pdf';">
                        <a class="icons col-md-3"></a>
                        <div class="col-md-9">
                            <h3>Rotate PDF</h3>
                            <p>Rotate your PDFs the way you need them. You can even rotate multiple PDFs at once!</p>
                        </div>

                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 apphome  iloveimghome last" onclick="window.location='http://www.iloveimg.com/';">
                        <p>Go to iLoveIMG: new online tools for image editing</p>

                    </div>
                </div>

            </div>

        </div>
        <!-- END PAGE -->

    </div>
    <!-- END CONTAINER -->
    <!-- BEGIN FOOTER -->
    <div class="footer">
        <div class="footer-inner">
            2017 &copy; </div>
        <div class="footer-tools">

        </div>
    </div>
    <script src="/js/app.js" /></script>
</body>

</html>